IP_ADDRESS=0.0.0.0
PORT=5000
NODE_ENV="development"

DATABASE_URL="postgresql://neondb_owner:npg_zpkLn69yjoCD@ep-falling-fire-aitl81lu-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require"
BCRYPT_SALT_ROUNDS=12

JWT_SECRET="key434rfdJasd432rewewr324"
JWT_EXPIRE_IN=7d

EMAIL_FROM="File Management <abdullaalnuman129@gmail.com>"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER="abdullaalnuman129@gmail.com"
EMAIL_PASS="nbezwqzcdjvfndyo"


SUPER_ADMIN_EMAIL="admin@gmail.com"
SUPER_ADMIN_PASSWORD="Password@"
